/*****************TAG SELECTOR****************/
a:hover{
  color: gold;
}
body{
  background-color: #A1DBE2;
  margin: 0;
}
hr{
 border-color: grey;
  border-style:dotted none dashed none;
  border-width: 5px;
  /* size of the dots here */
  height: 0px;
  /* removes the background only border remains */
  width: 5%;

}
img{
  height: 200px;
}

h3{
  color: #324B4E;
}
div{
  background-color: blue;
}
/* img{
background-color: red;
} */

/*****************ClASS SELECTOR****************/
.footer{
  margin: 0;
  background-color:#AE8974;
  margin-bottom: 0;
}
/* .footer_text{
  margin-block-end: 0;
} */
/*****************ID SELECTOR****************/

